
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NLess Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/adminAssets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/static/adminAssets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        
        <nav>
            <ul class="menu-aside">
                <!-- <li class="menu-item active">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li> -->
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href=""> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/productlist">Product List</a>
                        <a href="/admin/category">Categories</a>
                    </div>
                </li> -->
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="page-orders-1.html">Order list 1</a>
                        <a href="page-orders-2.html">Order list 2</a>
                        <a href="page-orders-detail.html">Order detail</a>
                        <a href="page-orders-tracking.html">Order tracking</a>
<a href="page-invoice.html">Invoice</a>
                    </div>
                </li> -->
                <!-- <li class="menu-item ">
                    <a class="menu-link" href="/admin/customersList"> <i class="icon material-icons md-store"></i>
                        <span class="text">User</span>
                    </a>
                 
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/loadaddproduct"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                   
                </li> -->
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                        <a href="page-transactions-details.html">Transaction Details</a>
                    </div>
                </li>
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>
                </li> -->
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a> -->
                <!-- </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li> -->
                <!-- <li class="menu-item ">
                    <a class="menu-link" href="/admin/loadOrderPage"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                   
                </li> -->
            </ul> -->
            <hr>
            <!-- <ul class="menu-aside"> -->
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li> -->
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li> -->
            <!-- </ul> -->
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div>
                <a href="/user/profile" class="btn btn-sm btn-brand rounded font-sm mt-20">Back to profile</a>
            </div>
        </header>
<section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                </div>
                <div>
                   
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sl.no</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Total</th>
                                    <th>Details</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0;i<order.length;i++){ %>
                                <tr>
                                    <td><%=i+1 %></td>
                                    <td><%=order[i].date.toLocaleDateString() %></td>
                                    <td><span class="badge rounded-pill <%= order[i].orderStatus  ? 'alert-warning' : 'alert-success'%> " id="status<%= i %>"><%= order[i].orderStatus%></td>
                                    <td>$<%=order[i].totalAmount %> for <%=order[i].items.length %> item</td>
                                    <td><a href="/user/orderdetails?ordid=<%=order[i].id %>" class="btn-small d-block">View</a></td>
                                    <td><a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15 toggle-btn" onclick="showAlert('<%= order[i].orderStatus   %>')"><%=  order[i].orderStatus == 'Delivered'? 'Return' : "Cancel" %></a></td>
                                </tr>
                                <% } %>
                                
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% for(let i=1;i<=totalpage;i++){ %>
                        <li class="page-item "><a class="page-link" href="/user/orderlist?page=<%=i %>"> <%=i %></a></li>
                        <% } %>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
        </footer>
    </main>
    <script>
        function toggle(index) {
                     const orderId = document.getElementById(`orderid${index}`).value; 
                       // console.log(userId);
                        fetch(`/admin/ordertoggle?ordId=${orderId}`, {
                              method: "PUT",       
                      })
                       .then(response => {
                           if (!response.ok) {
                                  throw new Error(`HTTP error! status: ${response.status}`);
                                }
                                return response.json();
                                  })
                                   .then(data => {
                                    console.log(data);
                                       })
                                        .catch(error => {
                                           console.error('Fetch error:', error);
                                            });
                                    
                                            setTimeout(()=>{
                                                window.location.reload()
                                            },700)
                                    }  
    </script>
    <script src="/static/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/static/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/static/adminAssets/js/vendors/select2.min.js"></script>
    <script src="/static/adminAssets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/static/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/static/adminAssets/js/main.js" type="text/javascript"></script>
</body>

</html>